.Header {
    position: relative;
    display: flex;
    margin-bottom: 12px;
    justify-content: space-between;
    align-items: flex-end;
}

.Header-logo-container {
    width: 128px;
    display: flex;
    justify-content: right;
}

.Header-container {
    display: flex;
    gap: 24px;
    align-items: center;
}

.Header-button {
    width: 72px;
    height: 28px;
    padding: 0;
    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--primary-label-on-inverse-color);
    font-family: inherit;
    font-size: inherit;
}

.Header-button:focus {
    outline: 2px solid var(--accent-border-color);
}
