.Share-button {
    display: flex;
    gap: 8px;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: var(--accent-color);
    cursor: pointer;
}

.Share-button:focus {
    outline: none;
}

.Share-loading {
    color: var(--secondary-label-color);
    cursor: progress;
}
