.Share-button {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--accent-color);
    cursor: pointer;
}

.Share-button:focus {
    outline: none;
}

.Share-loading {
    color: var(--secondary-label-color);
    cursor: progress;
}
