.Track {
    display: flex;
    gap: inherit;
    align-items: center;
}

.Track-name {
    width: 96px;
    text-align: right;
}

.Track-button {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--primary-label-color);
    color: var(--primary-label-on-inverse-color);
    margin-right: 12px;
    cursor: pointer;
}

.Track-button--muted {
    border: 1px solid var(--primary-label-color);
    background: none;
    color: var(--primary-label-color);
}

.Track-volume {
    margin-left: 12px;
}
