@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-label-on-inverse-color: #fff;
    --accent-color: #007aff;
}

.Context-Menu-Item[data-state="checked"] {
    padding: 0 8px;
}

.Context-Menu-Item[data-highlighted] {
    outline: none;
    background-color: var(--accent-color);
    color: var(--primary-label-on-inverse-color);
}
